<ion-header>
	<ion-toolbar>
		<ion-title>Forgot</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<form (ngSubmit)="logForm()">
		<ion-item>
			<ion-input type="email" [(ngModel)]="user.email" name="title" placeholder="Email"></ion-input>
		</ion-item>
		<ion-row>
			<ion-col size="6">
				<ion-button type="submit" expand="full" shape="round" color="success" fill="outline" size="6">Get Token</ion-button>
			</ion-col>
			<ion-col size="6">
				<ion-button expand="full" shape="round" color="tertiary" fill="outline" router-direction="forward" href="/login">Got Password!!!</ion-button>
			</ion-col>
		</ion-row>
	</form>
</ion-content>